<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appID</key>
	<string>e8b1280ec3b9cdcac88827172fbb0867</string>
	<key>weatherAPI</key>
	<dict>
		<key>scheme</key>
		<string>https</string>
		<key>host</key>
		<string>api.openweathermap.org</string>
		<key>apiVersion</key>
		<string>data/2.5</string>
	</dict>
</dict>
</plist>
